<html ng-app="myapp">
    <head>
        <title>Notes application</title>
        <script src="js/angular.js"></script>
        <script src="app/notes.js"></script>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="app/styles.css">
    </head>

    <body ng-controller="NotesController">
        <br>
       <!--<div ng-repeat="note in notes">
            <p class="note">{{note.text}}</p>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item {{note.active ? 'active' : ''}}" ng-repeat="note in notes">
                <h4 class="list-group-item-heading">{{note.text}}</h4>
                <p class="list-group-item-text" >some note...</p>
            </a>
        </div>-->

        <div class="note panel panel-info" ng-repeat="note in notes">
            <div class="panel-heading">
                <h3 class="panel-title">{{note.text}}</h3>
            </div>
        </div>

        <div class="note panel panel-danger" ng-if="error">
            <div class="panel-heading">
                <h3 class="panel-title">{{error}}</h3>
            </div>
        </div>

    </body>
</html>