<html ng-app="myapp">
    <head>
        <title>Hello AngularJS</title>
        <script src="js/angular.js"></script>
        <script src="app/hello.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div>
            <div ng-controller="HelloController">
                <div class="alert alert-info" >

                    Your name: <input ng-model="name" placeholder="Enter your name">
                    <button ng-click="update()" class="btn btn-info">update</button> {{name.length}}
                </div>
                <div class="alert alert-success">
                    <p>{{name}}</p>
                    <p>{{greeting}}</p>
                </div>
            </div>

            <div ng-controller="BirdsController">
                <div class="col-lg-6 alert-dismissable">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="Filter" ng-model="filtering">
                      </span>
                        <input type="text" class="form-control" aria-label="Filter" ng-model="searchFor" placeholder="Filter">
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <ul class="list-group" ng-repeat="bird in filtering ? filtered = (birds | filter:searchFor) : birds">
                        <li class="list-group-item" ng-class="bird.count == '999+' ? 'list-group-item-danger' : 'list-group-item-info'">
                            <span class="badge">{{bird.count}}</span>
                            {{bird.name}}
                        </li>
                    </ul>
                </div>


            </div>

        </div>

        <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown trigger
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
            </ul>
        </div>
    </body>
</html>